{% extends "IndexBundle:Default:index.html.twig" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<style>
    .no-float{
        float: none;
    }
    .the-content{
        margin-top: 50px;
        background-color: rgba(169, 123, 141, .8);
        box-shadow: 0 0 10px grey;
        padding-bottom: 40px;
    }
    .the-lateral{
        margin-top: 50px;
    }
    .article{
        margin-top: 30px;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 10px grey;
    }
    .img-content{
        height: 300px;
    }
    .description-content{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .title-content{
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: solid black;
        border-top: solid black;
        margin-left: auto;
        margin-right: auto;
    }
    .post-date{
        margin-top: 10px;
        font-family: 'Poiret One', cursive;
        font-weight: bold;
    }
    .post-description{
        font-family: 'Poiret One', cursive;
        font-weight: bold;
    }
    .separator{
        background-image:  url('{{ asset("/Resources/flowersRecortada.jpg") }}');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 80px;
        display: inline-flex;
        margin-top: 50px;
    }
    @media (max-width: 720px){
        .the-lateral{
            display: none;
        }
        .the-content{
            padding-top: 20px;
        }
    }
    @media (max-width: 480px){
        .the-content{
            padding-top: 20px;
            width: 100%;
        }
        .the-lateral{
            display: none;
        }
    }
</style>

<section>
    <div class="separator"></div>
    <div class="the-content col-md-8">
        <article>
            {% for post in posts %}
            <div class="article col-md-11 no-float center-block">
                <div class="img-content"
                     style="background-image: url('{{ asset("/pictures/"~post.bannerId.path) }}');
                             background-position: center center;
                             background-repeat: no-repeat;">
                </div>
                <div class="description-content">
                    <p class="post-date">Creado hace: {{ post.createdAt|diff(post.createdAt) }}</p>
                    <h4 class="title-content">{{ post.title }}</h4>
                    <p class="post-description">{{ post.shortDescription }}</p>
                </div>
            </div>
            {% endfor %}
        </article>
    </div>
    <div class="the-lateral col-md-4" style="flex: auto">
        lkjfdsñlkaf
    </div>
</section>





<script>
    $(document).ready(function(){
        resizeWith();
        function resizeWith(){
            windowSize = $(window).innerWidth();
            console.log(windowSize)
            if(windowSize < 720){
                $(".the-content").removeClass("col-md-8");
                $(".the-content").addClass("col-md-12");
            }else{
                $(".the-content").removeClass("col-md-12");
                $(".the-content").addClass("col-md-8");
            }
        }
        $(window).resize(function(){
            resizeWith();
        });
    });
</script>
{% endblock%}