{% extends "IndexBundle:Default:index.html.twig" %}
{% block title %}
    Bienvenidos!
{% endblock %}
{% block content %}
<style>
    .separateHeaderFromContent {
        width: 100%;
        height: 200px;
    }
    .c-article {
        border: solid black;
        margin-top: 45px;
    }
    h5#dateTime {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: solid black;
        padding-bottom: 4px;
        font-family: 'Lora', serif;
        font-size: 1.2em;
    }
    h4#title {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: solid black;
        padding-bottom: 4px;
        font-family: 'Warnes', cursive;
        font-size: 1.5em;
        font-weight: bolder;
    }
    p#shortDescription {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    ;
    }
    .no-float {
        float: none;
    }
    #linkToLanding {
        border-top: solid black;
        border-bottom: solid black;
        padding: 4px;
        color: black;
        font-weight: bold;
    }
    @media (max-width: 770px) {
        .c-article {
            border: none;
        }
        .separateHeaderFromContent {
            display: none;
        }
    }
</style>

    <div class="header"></div>
    <div id="first" class="cabecera col-md-4 col-sm-4">
        <div class="header-center">
            <div class="circle"><h3>L</h3></div>
        </div>
        <div class="header-footer">
            <h3>LIFE STYLE</h3>
            <div class="lineSeparator"></div>
        </div>
    </div>
    <div class="cabecera col-md-4 col-sm-4">
        <div style="background-color: #CBFEFE" class="header-center">
            <div style="background-color: #CBFEFE" class="circle"><h3>L</h3></div>
        </div>
        <div class="header-footer">
            <h3>LIFE STYLE</h3>
            <div class="lineSeparator"></div>
        </div>
    </div>
    <div class="cabecera col-md-4 col-sm-4">
        <div style="background-color: #FCFCB1" class="header-center">
            <div style="background-color: #FCFCB1" class="circle"><h3>L</h3></div>
        </div>
        <div class="header-footer">
            <h3>LIFE STYLE</h3>
            <div class="lineSeparator"></div>
        </div>
    </div>

    <div class="separateHeaderFromContent"></div>


{% for post in posts %}
    <div class="c-article col-md-10 no-float center-block text-center">
        <div class="col-md-7 no-float center-block">
            <img style="margin-top: 10px; border-radius: .3em;" class="img-responsive no-float center-block"
                 src="{{ asset("/pictures/"~post.bannerId.path) }}" alt="">
            <h5 id="dateTime">{{ post.createdAt|date("d.m.Y") }}  {{ post.categoryId.name }}</h5>
            <h4 id="title">{{ post.title }}</h4>
            <p id="shortDescription">{{ post.shortDescription }}</p>
        </div>
        <p style="text-align: right;"><a href="#" id="linkToLanding" style="text-align: right;">Leer</a></p>
    </div>

{% endfor %}
{% endblock%}