{% extends "IndexBundle:Default:index.html.twig" %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block content %}
<style>
    .the-image {
        height: 350px;
        border-radius: .4em;
        border: solid 1px black;
    }
    .no-float {
        float: none;
    }
    .margin-top-15 {
        margin-top: 15px;
    }
    .margin-top-35 {
        margin-top: 35px;
    }
    .slider {
        position: relative;
    }
    .slide {
        display: none;
    }
    .slide img {
        width: 100%;
    }
    .active {
        display: block;
    }
    .image-content {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    .picture {
        width: 35%;
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
</style>
    <div class="container-fluid">
        <div class="col-md-5 no-float center-block the-image margin-top-15"
             style=
             "background-image: url('{{ asset('/pictures/'~post.bannerId.path) }}');
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;">
        </div>

        <div class="image-content col-md-12 no-float margin-top-35">
            {% for slide in slider %}
                <img src="{{ asset("/pictures/"~slide.pictureId.path) }}" alt="" class="img-responsive picture">
            {% endfor %}
        </div>

        <div class="col-md-12 text-center margin-top-15">
            <h2>{{ post.title }}</h2>
            <div class="content-content">
                {{ post.content|raw }}
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(".slide:first-child").addClass("active");

            size = $(".slide").size();
            console.log(size);
        });
    </script>
{% endblock%}