{% extends "IndexBundle::base.html.twig" %}
{% block title %}
    Crear publicación
{% endblock %}

{% block content %}
<style>
    .no-float{
        float: none;
    }
    .margin-top-15{
        margin-top: 15px;
    }
    .uploadForSlider {
        width: 100%;
        height: 150px;
        background-image: url("{{ asset('/Resources/flowersRecortada.jpg') }}");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: .7em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: table;
    }
    #uploadFileText {
        width: 80%;
        display: table-cell;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
    }
    #uploadFileText p {
        background-color: rgba(0, 0, 0, 0.62);
        color: white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: .6em;
    }
</style>
    <div class="container">
        <div class="col-md-8 no-float center-block margin-top-15">
            {{ form_start(form, {"method" : "POST"}) }}
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {"attr" : {"class" : "form-control"}}) }}
            {{ form_errors(form.title) }}
            {{ form_label(form.shortDescription) }}
            {{ form_widget(form.shortDescription, {"attr" : {"class" : "form-control"}}) }}
            {{ form_errors(form.shortDescription) }}
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {"attr" : {"class" : "form-control", "rows" : 10}}) }}
            {{ form_errors(form.content) }}
            <script>
                CKEDITOR.replace("form_content");
            </script>
            {{ form_widget(form.userId, {"attr" : {"value" : app.user.id}}) }}
            {{ form_widget(form.bannerId) }}
            {{ form_label(form.categoryId) }}
            {{ form_widget(form.categoryId, {"attr": {"class" : "form-control"}}) }}
            {{ form_errors(form.categoryId) }}
            {{ form_widget(form.isActive, {"attr" : {"value" : 1}}) }} Activo
            <br>
            <label for="file">Imagen de portada</label>
            <input type="file" id="file" class="form-control" name="file">
            {{ form_widget(form.save, {"attr" : {"class" : "btn btn-primary margin-top-15"}}) }}
            <br>
            {{ form_end(form) }}
            <img src="" alt="" id="picture" class="img-responsive no-float center-block">
        </div>

    </div>

    <div class="col-md-5 no-float center-block">
        {% for flash_message in app.session.flashbag.get("alert") %}
            <div class="col-md-12 margin-top-15">
                <div class="alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
    </div>


<script>
    $(document).ready(function () {

        input = $("#file");

        $(input).change(function () {
            file = $(input)[0].files[0];

            fileName = file.name;
            ext = fileName.substr(fileName.lastIndexOf(".")+1);
            console.log(ext);

            if(ext == "jpg" || ext == "jpeg" || ext == "png" || ext == "gif"){
                formData = new FormData();
                formData.append("file", file);
                $.ajax({
                    url: "{{ path("upload.picture") }}",
                    type: "POST",
                    data : formData,
                    cache: false,
                    contentType: false,
                    processData: false,

                    success: function(data){
                        console.log(data);
                        $("#form_bannerId").attr("value", data.id);
                        $("#picture").attr("width", "80%");
                        $("#picture").attr("src", data.url);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
        });
    });
</script>
{% endblock %}