{% extends "IndexBundle::base.html.twig" %}
{% block title %}
    Crear Usuario
{% endblock %}

{% block content %}
<style>
    .margin-top-15{
        margin-top: 15px;
    }
    .no-float{
        float: none;
    }
    .margin-top-10{
        margin-top: 10px;
    }
    input[type=submit]{
        left: 0;
    }
    .errors ul li{
        list-style: none;
        color: darkred;
    }
</style>

<div class="container">

    <div class="col-md-4 col-xs-8 no-float center-block form margin-top-15">
        {{ form_start(form, {'method': 'post', 'action': path('create.user')}) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr' : {'class': 'form-control'}}) }}
        <div class="errors">{{ form_errors(form.name) }}</div>
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
        <div class="errors">{{ form_errors(form.username) }}</div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class' : 'form-control'}}) }}
        <div class="errors">{{ form_errors(form.email) }}</div>
        {{ form_label(form.password) }}
        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
        <div class="errors">{{ form_errors(form.password) }}</div>
        {{ form_widget(form.save, {'attr': {'clsss': 'btn btn-primary'}}) }}
        {{ form_end(form) }}

        {% for flash_message in app.session.flashbag.get('mensaje') %}
            <p>{{ flash_message }}</p>
        {% endfor %}
    </div>
</div>



{% endblock %}
