{% extends "IndexBundle::base.html.twig" %}

{% block title %}
    Editar publicación
{% endblock %}

{% block content %}
<style>
    .margin-top-15{
        margin-top: 15px;
    }
    .no-float{
        float: none;
    }
    .margin-top-10{
        margin-top: 10px;
    }
    input[type=submit]{
        left: 0;
    }
    .errors ul li{
        list-style: none;
        color: darkred;
    }
    .container{
        margin-bottom: 35px;
    }
</style>

<div class="container">

    <div class="col-md-6 form margin-top-15">
        {{ form_start(form, {"method" : "POST"}) }}
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {"attr" : {"class" : "form-control"}}) }}
        <div class="errors">{{ form_errors(form.title) }}</div>
        {{ form_label(form.shortDescription) }}
        {{ form_widget(form.shortDescription, {"attr" : {"class" : "form-control"}}) }}
        <div class="errors">{{ form_errors(form.shortDescription) }}</div>
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {"attr" : {"class" : "form-control", "rows" : 10}}) }}
        <div class="errors">{{ form_errors(form.content) }}</div>
        <script>
            CKEDITOR.replace("form_content");
        </script>
        {{ form_widget(form.isActive) }} Activo
        <div class="errors">{{ form_errors(form.isActive) }}</div>
        {{ form_label(form.categoryId) }}
        {{ form_widget(form.categoryId, {"attr" : {"class" : "form-control"}}) }}
        <div class="errors">{{ form_errors(form.categoryId) }}</div>
        <label>Imagen de portada</label>
        <br>
        <input type="file" id="file" class="form-control">
        {{ form_widget(form.save, {"attr" : {"class" : "btn btn-primary margin-top-10"}}) }}
        {{ form_widget(form.userId) }}
        {{ form_widget(form.bannerId) }}
        {{ form_end(form) }}
        <img src="{{ asset("pictures/"~urlPicture) }}" alt="" id="picture" class="img-responsive no-float center-block">
    </div>

    <div class="col-md-6 uploadFile margin-top-15">
        <form action="#">
            <input type="file" name="file" id="sliderUpload" class="form-control">
            <ul id="fileName" class="margin-top-15"></ul>
            <button type="reset" id="reset" class="btn btn-primary">Limpiar</button>
            <button type="button" id="fileSliderUpload" class="btn btn-primary">Subir</button>
        </form>
        <ul id="fileName"></ul>

        <div class="the-images-slider">

        </div>
        <div class="the-images-slider-back">
            {% for slide in slider %}
                <img class="img-responsive margin-top-10" src="{{ asset('/pictures/'~slide.pictureId.path) }}" alt="">
                <button
                        onclick="location.href='{{ path('picture_slide_delete', {id : slide.id}) }}'"
                class="btn btn-primary margin-top-10">
                    Eliminar</button>
            {% endfor %}
        </div>


    </div>
    <p id="error"></p>

</div>

<script>
    $(document).ready(function(){

        $('#form_content').html("{{ content }}");

        input = $("#file");

        $(input).change(function () {
            file = $(input)[0].files[0];

            fileName = file.name;
            ext = fileName.substr(fileName.lastIndexOf(".")+1);
            console.log(ext);

            if(ext == "jpg" || ext == "jpeg" || ext == "png" || ext == "gif"){
                formData = new FormData();
                formData.append("file", file);
                $.ajax({
                    url: "{{ path("upload.picture") }}",
                    type: "POST",
                    data : formData,
                    cache: false,
                    contentType: false,
                    processData: false,

                    success: function(data){
                        console.log(data);
                        $("#form_bannerId").attr("value", data.id);
                        $("#picture").attr("width", "80%");
                        $("#picture").attr("src", data.url);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
        });

        files = [];
        var sliderUpload = new FormData();
        sliderUpload.append("postId", "{{ post.id }}")
        $("#sliderUpload").on("change", function(){
            file = $("#sliderUpload")[0].files[0];
            var extFile = file.name.substr(file.name.lastIndexOf(".")+1);
            console.log(extFile);
            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png" || extFile == "gif") {
                $("#error").empty();
                files.push(file);
                $("#fileName").append("<li>" + file.name +"</li>");
            }else {
                $("#error").html("Recuerda que solo puedes seleccionar imagenes");
                return false;
            }
        });

        $("#reset").click(function(){
            $("#fileName").empty();
            files.length = 0;
        });

        $("#fileSliderUpload").click(function(e){
            e.preventDefault();
            $(files).each(function(index, item){
                sliderUpload.append(index, item);
            });

        deleteSlider = '{{ path('picture_slide_delete', {'id' : '__ID__'}) }}';

            $.ajax({
                url: '{{ path('picture_slider_create') }}',
                type: "POST",
                data : sliderUpload,
                cache: false,
                contentType: false,
                processData: false,
                success : function(data) {
                    $(".the-images-slider").empty();
                    $.each(data, function(index, value){
                        $(".the-images-slider").append(
                                "<img class='img-responsive margin-top-10' src='" + value.url + "'/>"
                        );
                    })
                },
                error : function(error) {
                    console.log(error);
                }

            });
        });
    });
</script>
{% endblock %}