{% extends "IndexBundle::base.html.twig" %}
{% block title %}
    Editar Categoría
{% endblock %}

{% block content %}

<style>
    .no-float{
        float: none;
    }
    .margin-top-10{
        margin-top: 10px;
    }
</style>

<div class="container">
    <div class="col-md-5 no-float center-block margin-top-10">
        {{ form_start(form, {"method" : "POST"}) }}
        <div class="row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {"attr" : {"class" : "form-control"}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="row">
            {{ form_widget(form.isActive) }} Activo
            {{ form_errors(form.isActive) }}
        </div>
        <div class="row">
            {{ form_label(form.backgroundColor) }}
            {{ form_widget(form.backgroundColor, {attr : {"class" : "form-control"}}) }}
        </div>
        <div class="row">
            {{ form_widget(form.save, {"attr" : {"class" : "btn btn-primary margin-top-10"}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>


{% endblock %}