{% extends "IndexBundle::base.html.twig"%}
{% block title %}
Sub Categorías
{% endblock %}

{% block content %}
    <style>
        .no-float{
            float: none;
        }
        .my-card{
            border: solid 1px lightgrey;
            border-radius: .2em;
            text-align: center;
            padding-bottom:10px;
            margin-top: 10px;
        }
        .margin-top-15{
            margin-top: 15px;
        }
        @media (max-width: 480px){
            .cards{
                margin-top: 15px;
            }
        }
        @media (max-width: 900px){
            .cards{
                margin-top: 15px;
            }
        }
    </style>

    <div class="col-md-12 margin-top-15 ">
        <button type="button" class="btn btn-default"
                onclick="location.href='{{ path('category_sub_category_create') }}'">
            Crear sub categoría</button>
    </div>

    {% if subCategories|length == 0 %}
        <div class="col-md-5 no-float center-block">
            <div class="col-md-12 margin-top-15">
                <div class="alert alert-success" role="alert">
                    No tienes sub categorias hasta ahora.
                    <a href="{{ path("category_sub_category_create") }}" title="Crear sub categoría">Deseas crear una?</a>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="col-md-12 margin-top-15">
        {% for sub in subCategories %}
            <div class="col-md-4 center-block cards">
                <div class="my-card center-block">
                    <h2>{{ sub.name }}</h2>
                    <h4>{{ sub.categoryId.name }}</h4>
                    <button class="btn btn-primary" type="button"
                            onclick=
                            "location.href=''">
                        Editar</button>
                    <button class="btn btn-danger" type="button"
                            onclick=
                            "location.href='{{ path('category_sub_delete', {id : sub.id}) }}'">
                        Eliminar</button>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="col-md-5 no-float center-block">
        {% for flash_message in app.session.flashbag.get("msg") %}
            <div class="col-md-12 margin-top-15">
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-5 no-float center-block">
        {% for flash_message in app.session.flashbag.get("alert") %}
            <div class="col-md-12 margin-top-15">
                <div class="alert alert-danger" role="alert">
                    {{ flash_message }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}