{% extends "IndexBundle::base.html.twig" %}
{% block title %}
Crear sub categoría
{% endblock %}
{% block content %}
<style>
    .no-float{
        float: none;
    }
    .margin-top-10{
        margin-top: 10px;
    }
</style>

<div class="col-md-6 no-float center-block margin-top-10">
    {{ form_start(form, {'method' : 'POST'}) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {attr : {"class" : "form-control"}}) }}
    {{ form_label(form.categoryId) }}
    {{ form_widget(form.categoryId, {attr : {"class" : "form-control"}}) }}
    {{ form_widget(form.pictureId) }}
    {{ form_widget(form.save, {attr : {"class" : "btn btn-primary margin-top-10"}}) }}
    {{ form_end(form) }}
</div>
{% endblock %}